[submodule "submodules/Catch2"]
	path = submodules/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "submodules/lua"]
	path = submodules/lua
	url = https://github.com/lua/lua
[submodule "submodules/LuaJIT"]
	path = submodules/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT
